@page "/"

<AuthorizeView>
    <Authorized>
        <!-- <h1>Hello @context.User.Identity.Name !!</h1> -->
        <h1> STUDENT NAME:  DIVYA PRABHAA MANIVANNAN</h1>
        <h1> STUDENT ID   : A00256762 </h1>
        <h1>Reference:https:///codewithmukesh.com//</h1>
        <h1>Reference:https:///www.ezzylearning.net//</h1>
        <br />
        <br />


        <h2 style="color:#FF0000">Welcome to Developer Management system </h2>

       <!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>